---
import Layout from '../../layouts/Layout.astro';
import myImage from '../../assets/DSC07028.jpg'; // Importa la imagen como un módulo
import { Image } from 'astro:assets'; // Importa el componente Image de astro:assetsimport { Image } from '../../assets/DSC06970.jpg';
---

<Layout title="Acerca de Lic. Griselda García - Psicóloga Profesional">
    <section class="py-24 max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-4xl font-bold text-gray-900 mb-8">Acerca de la Lic. García</h1>
        
        <div class="prose prose-lg max-w-none">
            <div class="mb-8">
                <Image
                    src={ myImage }
                    alt="Lic. Griselda García"
                    width={800}
                    height={600}
                    class="rounded-lg shadow-lg"
                />
            </div>
    
            <h2 class="text-3xl font-extrabold text-gray-900 mb-6 border-b-2 border-gray-300 pb-2">Biografía</h2>
            <p class="text-lg text-gray-800 leading-relaxed">
                Nace el 19 de marzo del año 1966 en Bacuí, La Vega. Es egresada de la Universidad Autónoma de Santo Domingo, 
                el 28 de octubre del 1993, con el título de Licenciada en Psicología. Conferencista, escritora y profesional 
                con una sólida preparación académica, que incluye Técnico en Rehabilitación de Ciegos, Técnico Especialista 
                en “Aplicación de Técnicas de Modificación Conductual y Manejo Disciplinario”, Diplomado en Pastoral Educativa, 
                Habilitación docente, Diplomado en Neurociencias, Diplomado en Trauma Complejo y Resiliencia, Curso Violencia 
                Intrafamiliar y Género y un Máster en “Ciencias del Matrimonio y la Familia” impartida por la Pontificia Universidad 
                Lateranense, Valencia.
            </p>
            <p class="text-lg text-gray-800 mt-4">
                Es maestra empírica, amante de la lectura y escritura, lo cual usa como un medio de expresión. Es de formación cristiana 
                Católica. Junto a su esposo, ha trabajado desde hace más de 30 años en la formación de parejas en su comunidad, siendo 
                coordinadores por 25 años. Actualmente son miembros asociados del Instituto Secular Voluntas Dei, desde su fundación en Herrera, 
                “por voluntad de Dios”.
            </p>
            <p class="text-lg text-gray-800 mt-4">
                Ha laborado en diferentes instituciones: Plan Internacional Santo Domingo, Patronato Nacional de Ciegos, Colegio San Gabriel 
                de la Dolorosa, y actualmente es Psicóloga-orientadora del Minerd en el Centro de Estudios “La Hora de Dios”, dirigido por las 
                Religiosas Concepcionistas de la Enseñanza.
            </p>
        </div>
    </section>

</Layout>