---
import Layout from '../../layouts/Layout.astro';
import BookDetails from '../../components/book/BookDetails.astro';
import ChapterPreview from '../../components/book/ChapterPreview.astro';
import PurchaseSection from '../../components/book/PurchaseSection.astro';
---

<Layout title="Transforma Tu Vida - Libro digital por la Lic. Griselda García">
    <div class="py-24">
    <BookDetails />
    <ChapterPreview />
    <PurchaseSection />
    </div>
</Layout>