---
import CheckIcon from './icons/CheckIcon.astro';
---

<section class="py-24 bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center">
        <h2 class="text-3xl font-bold text-gray-900 sm:text-4xl">
        ¿Qué aprenderás?
        </h2>
        <p class="mt-4 text-lg text-gray-600 max-w-2xl mx-auto">
            Descubre técnicas prácticas e ideas que te ayudarán a comprenderte mejor y a mejorar tu  relación en pareja.
        </p>
    </div>

    <div class="mt-16 grid gap-8 md:grid-cols-2 lg:grid-cols-3">
        {[
        {
        title: "Autodescubrimiento",
        description: "Aprende técnicas comprobadas para comprender mejor tus pensamientos y emociones."
        },
        {
        title: "Habilidades en las relaciones",
        description: "Desarrolla conexiones más fuertes y mejora la comunicación con los demás."
        },
        {
        title: "Gestión del estrés",
        description: "Domina estrategias prácticas para manejar el estrés y la ansiedad de manera efectiva."
        },
        {
        title: "Crecimiento personal",
        description: "Establece metas significativas y crea cambios positivos duraderos en tu vida."
        },
        {
        title: "Inteligencia emocional",
        description: "Mejora tu capacidad para comprender y gestionar las emociones."
        },
        {
        title: "Prácticas de atención plena",
        description: "Aprende técnicas para mantenerte presente y reducir el desorden mental."
        }

        ].map(feature => (
        <div class="bg-primary-50 rounded-lg p-8">
            <div class="flex items-center">
            <CheckIcon class="h-6 w-6 text-primary-600" />
            <h3 class="ml-3 text-xl font-semibold text-gray-900">
                {feature.title}
            </h3>
            </div>
            <p class="mt-4 text-gray-600">
            {feature.description}
            </p>
        </div>
        ))}
    </div>
    </div>
</section>