---
const currentYear = new Date().getFullYear();
---

<footer class="bg-white border-t border-gray-200">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div>
        <h3 class="text-lg font-semibold text-gray-900 mb-4">Contacto</h3>
        <ul class="space-y-2 text-gray-600">
            <li>Correo electrónico: g.garciaamz@gmail.com</li>
                        
        </ul>
        </div>
        
        <div>
        <h3 class="text-lg font-semibold text-gray-900 mb-4">Enlaces rápidos</h3>
        <ul class="space-y-2">
            <li><a href="/book" class="text-gray-600 hover:text-primary-600">Compra el Libro</a></li>
            <li><a href="/about" class="text-gray-600 hover:text-primary-600">Sobre mí</a></li>
            <li><a href="/blog" class="text-gray-600 hover:text-primary-600">Blog</a></li>
        </ul>
        </div>
        
        <div>
        <h3 class="text-lg font-semibold text-gray-900 mb-4">Sígueme</h3>
        <div class="flex space-x-4">
            <a href="#" class="text-gray-600 hover:text-primary-600">
            <span class="sr-only">Instagram</span>
            <svg class="h-6 w-6" viewBox="0 0 24 24" fill="currentColor">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM12 15.88C9.86 15.88 8.12 14.14 8.12 12C8.12 9.86 9.86 8.12 12 8.12C14.14 8.12 15.88 9.86 15.88 12C15.88 14.14 14.14 15.88 12 15.88ZM17.92 6.88C17.87 7 17.8 7.11 17.71 7.21C17.61 7.3 17.5 7.37 17.38 7.42C17.26 7.47 17.13 7.5 17 7.5C16.73 7.5 16.48 7.4 16.29 7.21C16.2 7.11 16.13 7 16.08 6.88C16.03 6.76 16 6.63 16 6.5C16 6.37 16.03 6.24 16.08 6.12C16.13 5.99 16.2 5.89 16.29 5.79C16.52 5.56 16.87 5.45 17.19 5.52C17.26 5.53 17.32 5.55 17.38 5.58C17.44 5.6 17.5 5.63 17.56 5.67C17.61 5.7 17.66 5.75 17.71 5.79C17.8 5.89 17.87 5.99 17.92 6.12C17.97 6.24 18 6.37 18 6.5C18 6.63 17.97 6.76 17.92 6.88Z" fill="currentColor"></path>
                </g>
            </svg>
            </a>
            <a href="#" class="text-gray-600 hover:text-primary-600">
            <span class="sr-only">LinkedIn</span>
            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 28 24"> //ojo con el viewbox
                <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/>
            </svg>
            </a>
        </div>
        </div>
    </div>

    <div class="mt-8 pt-8 border-t border-gray-200">
        <p class="text-center text-gray-500 text-sm">
        © {currentYear} Logeao. Todos los derechos reservados.
        </p>
    </div>
    </div>
</footer>