---
---

<section class="py-24 bg-gray-50">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-bold text-center text-gray-900 sm:text-4xl mb-16">
    ¿Qué dicen mis lectores?
    </h2>

    <div class="grid gap-8 lg:grid-cols-3">
    {[
        {
        quote: "Un lenguaje claro y práctico que hace que cualquier persona pueda entenderlo fácilmente. Ideal para quienes buscan una lectura accesible y útil.",
        author: "Lic. Keila Morales",
        title: "Psicóloga Clínica y Educativa"
    },
    {
        quote: "Trivialidades que afectan a las parejas es un manual práctico para matrimonios y relaciones, que aborda situaciones cotidianas del hogar con consejos útiles para fortalecer la relación. La autora ofrece herramientas sencillas para superar desafíos comunes y mejorar la convivencia.",
        author: "Lic. Ramón Emeterio Alcántara",
        title: "Educador"
    },
    {
        quote: "Los ejercicios y técnicas de este libro me han ayudado a manejar el estrés y la ansiedad de formas que nunca pensé posibles.",
        author: "Thomas W.",
        title: "Ejecutivo de Negocios"
    }

    ].map(testimonial => (
        <blockquote class="bg-white rounded-lg shadow-lg p-8">
        <svg class="h-8 w-8 text-primary-400 mb-4" fill="currentColor" viewBox="0 0 24 24">
            <path d="M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z" />
        </svg>
        <p class="text-gray-600 mb-4">"{testimonial.quote}"</p>
        <footer class="mt-4">
            <p class="text-base font-semibold text-gray-900">{testimonial.author}</p>
            <p class="text-sm text-gray-600">{testimonial.title}</p>
        </footer>
        </blockquote>
    ))}
    </div>
</div>
</section>